[Unit]
Description=lscp
Requires=sound.target ls_jackd.service ls_linuxsampler.service
After=sound.target ls_jackd.service ls_linuxsampler.service
#After=sound.target

[Service]
Type=oneshot
User=root
#ExecStart=/usr/bin/linuxsampler
#ExecStart=/root/organ/lscp_load.py /root/organ/pmi_baroque_organ-moerdijk.lscp
ExecStart=/root/linuxsampler/lscp.sh /root/linuxsampler/pmi.lscp

[Install]
WantedBy=multi-user.target
