[Unit]
Description=MIXER
Requires=sound.target ls_jackd.service
After=sound.target ls_jackd.service
#After=sound.target

[Service]
Type=simple
User=root
ExecStart=/root/linuxsampler/mixer.sh
ExecStartPost=/usr/bin/bash -c "sleep 1 && oscmanual 0"

[Install]
WantedBy=multi-user.target
