[Unit]
Description=FluidSynth
Requires=sound.target jackd.service
After=sound.target jackd.service
#After=sound.target

[Service]
Type=notify
User=root
#ExecStart=/usr/bin/linuxsampler
ExecStart=/root/fluidsynth/notify/fluidsynth_notify.py
#ExecStartPost=/root/organ/lscp.sh

[Install]
WantedBy=multi-user.target
