[Unit]
Description=Mididings PATCH
Requires=sound.target ls_jackd.service
After=sound.target ls_jackd.service
#After=sound.target

[Service]
Type=simple
User=root
#ExecStart=/root/organ/pmi_baroque_organ-moerdijk.py
#ExecStart=/root/organ/mididings_load.py
ExecStart=/root/linuxsampler/mididings_patch.py

[Install]
WantedBy=multi-user.target
