[Unit]
Description=test_card0
Requires=sound.target
After=sound.target

[Service]
#Process has to exit before systemd starts follow-up units
Type=oneshot
User=root
ExecStart=/root/fluidsynth/test_card0.sh

[Install]
WantedBy=multi-user.target
